.fa{
    
    text-align: center;
    text-decoration: none;
    border-radius: 30%;
}
 * {
      font-family: "MedievalSharp", sans-serif;
    }
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
    background: #3B5998;
    color: white;
}
.fa-snapchat{
	padding:3px;
    background: #E3E847;
    color: white;
}
.fa-twitter {
	padding:3px;
    background: #55ACEE;
    color: white;
}
.fa-google {
	padding:3px;
    background: #E22418;
    color: white;
}
.fa-linkedin {
	padding:3px;
    background: #55ACEE;
    color: white;
}
.fa-instagram {
	padding:3px;
    background: #900C3F;
    color: white;
}
 .bg-4 { 
 text-align:center;
      background-color: #ff8080; 
  }
  
  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
.align-left{
	float:left;
}
 
li:last-child {
  border: none;
}

.a1:link {
	color: #333333;
}
 a:link{
	 color: white;
 }