body {
      font: 20px "Sofia", sans-serif;
	  background-image: url("meedit.jpg");
	  background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
}
.post-content {
	padding-top: 115px;
	padding-bottom: 100px;
}
.p1{
	      font: 20px "Allerta", sans-serif;
	color: white;
	font: 20px;
}