body, html{
	height: 100%;
	margin: 0;
	font
}
.bg{
	font-family: 'Sofia', sans-serif;
}
#container {
  background-image: url("me.png");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#image {
  position: absolute;
  left: 0;
  top: 0;
}
#text {
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 48px;
  font-weight: bold;
  left: 50px;
  top: 300px;
}
a{
	color: red;
}
p{
	font-size: 28px;
	position:absolute;
    left: 80px;
	top:  405px;
}